<nav class="navbar navbar-expand-lg navbar-dark custom-nav-bg">
  <div class="container">
    <!-- <a class="navbar-brand" href="#">
      <img class="image-fluid rounded-circle" src="../../../assets/cartNavbar.png" alt=""
        style="width: 50%; height: auto;">
    </a> -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li> -->
        <li class="nav-item">
          <a class="navbar-brand" [routerLink]="''">
            <img class="image-fluid rounded-circle" src="../../../assets/cartNavbar.png" alt=""
              style="width: 50%; height: auto;">
          </a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="'/login'">Login</a>
        </li> -->
        <li class="nav-item">
          <button mat-fab extended color="primary">
            <mat-icon>storefront</mat-icon>
            Become a seller
          </button>
        </li>
        <li class="nav-item">
          <button mat-fab extended [matMenuTriggerFor]="navDropdown" class="nav-link active" color="primary">
            <div class="valign-center">
              <a class="nav-link active" aria-current="page" [routerLink]="'/login'"><span>Sign in</span>
              </a>
              <i class="material-icons">arrow_drop_down</i>
            </div>
          </button>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="'/signup'">Register</a>
        </li> -->
        <li class="nav-item mt-2">
          <a class="nav-link active" aria-current="page" [routerLink]="'/cart-checkout'">
            <mat-icon matBadge="15" matBadgeColor="warn">shopping_cart</mat-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<mat-menu #navDropdown="matMenu">
  <button mat-menu-item [routerLink]="'/signup'"><b>New Customer ?</b></button>
  <button mat-menu-item [routerLink]="'/my-orders'">Orders</button>
  <button mat-menu-item [routerLink]="'/whislist'">Wishlist</button>
</mat-menu>